@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #15181b;
}
#card{
  border-image-source: linear-gradient(270deg, #126A68 -4.27%, #612779 34.63%, #C45081 68.03%, #FF8983 103.56%);
  border-image-slice: 1;
}